@import "../variables.scss";

.contact-us-icon {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  background-color: $orange;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-us-details {
  color: white;
  display: flex;
  align-items: center;
}
