@import "../variables.scss";

.team-carousel {
  background-color: $primaryBgColor;
  font-family: $primaryFamily;
}

.team-carousel-container {
  width: $containerWidth;
  margin: auto;
  padding: 100px 0;
}

.carousel {
  width: $containerWidth + 40px;
  overflow: hidden;
  transform: translateX(-20px);
  margin-top: 1rem;
}

//
.slick-slide {
  padding: 20px;
}

@media only screen and (max-width: 1190px) {
  .team-carousel-container {
    width: 90%;
  }

  .carousel {
    width: calc(100% + 40px);
  }
}
