@import "../variables.scss";

.page-hero {
  height: 650px;
  width: 100%;
}

.page-hero-overlay {
  width: 100%;
  height: 650px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-family: $titleFamily;
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
  }
}

.breadCrumb {
  color: white;
  font-size: 1.5rem;
  margin: 1rem 0;

  span {
    color: $orange;
    text-transform: capitalize;
  }
}
