.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 999;
}

.modal-main {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);

  & > div {
    display: flex;
    flex-direction: column;
  }

  button {
    height: 30px;
    width: 30px;
    margin-bottom: 0.2rem;
    font-size: 1.7rem;
    align-self: flex-end;
    color: rgb(161, 159, 159);
    background-color: transparent;
    border: none;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-open {
  overflow: hidden;
}

@media only screen and (max-width: 520px) {
  .modal-main {
    width: 90%;
  }
}
