@import "../variables.scss";

.why-us {
  min-height: 520px;
  width: 100%;
  background-color: #0a0a0a;
  font-family: $primaryFamily;
}

.why-container {
  width: $containerWidth;
  margin: auto;
  padding-top: 100px;
}

.why-title {
  text-align: center;
  text-transform: uppercase;
  color: white;
  p {
    color: $orange;
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.8rem;
    margin: 1rem 0;
  }
}

.why-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2.5rem;
}

.why-card {
  width: 280px;
  height: 250px;
  text-align: center;
  overflow: hidden;

  h3 {
    color: white;
    margin: 1rem;
  }

  p {
    color: #919191;
    line-height: 1.2;
  }
}

.why-icon {
  height: 100px;
  width: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: $orange;
  background: #232323;
  border-radius: 50%;
  transition: 0.3s;
  &:hover {
    color: white;
    background: $orange;
  }
}

@media only screen and (max-width: 1200px) {
  .why-container {
    width: 600px;
  }
}

@media only screen and (max-width: 620px) {
  .why-container {
    width: 90%;
  }

  .why-card-container {
    justify-content: center;
  }
}
