@import "../variables.scss";

.our-team {
  background-color: $primaryBgColor;
}

.our-team-container {
  width: $containerWidth;
  padding: 100px 0;
  margin: auto;
}

.our-team-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 2rem;
}

.our-team-social {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: $containerWidth + 20) {
  .our-team-container {
    width: 90%;
  }
}

@media only screen and (max-width: 770px) {
  .our-team-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .our-team-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
